.root{
    -fx-background-color: #f6d3da;
    /*-fx-background-image: url("https://imgur.com/2wDtTZP.jpg");*/
    /*-fx-background-image: url("https://imgur.com/HmXhBKI.jpg");*/
    -fx-background-image: url("https://imgur.com/wnopWXD.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: bottom left;
}


.menu-bar{ -fx-background-color: linear-gradient(#F0E8EB, #D4B6C1);}
.menu-item .label{-fx-text-fill: #8D5D72;}
.menu-item:hover{-fx-background-color: #E2BBCC ;}
.menu-button:hover{-fx-background-color: #E2BBCC ;}
.menu-item:focused{-fx-background-color: #E2BBCC ;}
.menu-button:focused{-fx-background-color: #E2BBCC ;}
.menu-button:showing{-fx-background-color: #E2BBCC ;}
.menu-button .label{
    -fx-text-fill: #8D5D72;
    -fx-font-family: "Trebuchet MS";
}
.text-field:focused{
    -fx-faint-focus-color: transparent;
    -fx-accent: #FFBCD9;
    -fx-focus-color: rgba(332,84,84,0.4);
}

.text-field {
    -fx-padding: 5px;
}

Label {
    -fx-font-family: "Trebuchet MS";
}

Line{
    -fx-stroke: C1B0B7;
}

/*GridPane{*/
/*    -fx-background-color: #f6d3da;*/
/*}*/


.toggle-button {
    -fx-background-image:url("https://imgur.com/tGvyFMg.jpg");
    -fx-background-size: 40 40;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-radius: 0,0,0,0;
    -fx-background-insets: 0,0,0,0;

}

.toggle-button:selected{
    -fx-background-image: url("https://imgur.com/E7xizXs.jpg");
    -fx-background-size: 40 40;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-radius: 0,0,0,0;
    -fx-background-insets: 0,0,0,0;
}

Button {
    -fx-background-radius: 1em;
    -fx-text-fill: white;
    -fx-font-family: "Trebuchet MS";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#E16594, #B40C4C);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

Button:hover{
    -fx-background-radius: 1em;
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}